<a href="https://colab.research.google.com/github/hakkanazrul06/PRAKTIKUMPROJEK1/blob/main/Exercise_Week_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Exercise 1: read
with open("Biodata.txt", "r") as file1:
    FileContent = file1.read()
    print(FileContent)

# Write
with open('/content/writex.txt', 'w') as tulis:
    tulis.write("Nama          : Hakkan Azrul Suseno\n")
    tulis.write("NPM           : 2420506029\n")
    tulis.write("Alamat        : Kalangan, Salaman\n")
    tulis.write("Program Studi : S1 Teknologi Informasi")

Nama: Hakkan Azrul Suseno
NPM : 2420506029
Alamat : Kalangan, Salaman
Program Studi : S1 Teknologi Informasi
Hobi : Bersantai
Email : azrulsusenohakkan@gmail.com

In [1]:
# Exercise 2
print("Selamat datang di Toko Maju Jaya")
print("Senin, 4 September 2023 13:05")
print("Daftar Belanja:  ")

item1 = "Sabun"
item2 = "Shampo"
item3 = "Mie instant"
item4 = "Detergen"

harga1 = 10000
harga2 = 15000
harga3 = 5000
harga4 = 17500

total = harga1 + harga2 + harga3 + harga4

print(item1, " = Rp", + harga1)
print(item2, " = Rp", + harga2)
print(item3, " = Rp", + harga3)
print(item4, " = Rp", + harga4)

print("Total =  Rp", + total)

with open('/content/Kwitansi.txt', 'w') as tulis:
        tulis.write("Selamat Datang di Toko Maju Jaya\n")
        tulis.write("Kuitansi - 4 September 2023\n")
        tulis.write(item1 + " = Rp " + str(harga1) + "\n")
        tulis.write(item2 + " = Rp " + str(harga2) + "\n")
        tulis.write(item3 + " = Rp " + str(harga3) + "\n")
        tulis.write(item4 + " = Rp " + str(harga4) + "\n")
        tulis.write("Total Belanja = " + str(total))

Selamat datang di Toko Maju Jaya
Senin, 4 September 2023 13:05
Daftar Belanja:
Sabun  = Rp 10000
Shampo  = Rp 15000
Mie instant  = Rp 5000
Detergen  = Rp 17500
Total =  Rp 47500